{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4" style="max-width:500px; margin:auto;">
    <h4 class="mb-3 text-center">Add Expense</h4>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Amount</label>
            <input type="number" name="amount" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Description</label>
            <input type="text" name="description" class="form-control">
        </div>

        <div class="mb-3">
            <label>Category</label>
            <select name="category" class="form-control">
                {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary w-100">Add Expense</button>
    </form>
</div>

{% endblock %}